.homeContainer {
width: 100vw;
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.headerText {
  color: #ed5f5f;
  font-family: 'Akira';
  font-size: 75px;
}

.homeMenuContainer{
    /* border: 1px solid lime; */
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: #ed5f5f;
    font-size: 25px;
    /* font-family: 'Akira'; */

}
