.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.headerText {
  color: #ed5f5f;
  font-family: 'Akira';
  font-size: 75px;
}

.homeContentContainer-trans {
  display: flex;
  flex-direction: column;
  width: 560px;
  overflow: scroll;
  transition: background-color 1s; 

}

.homeContentContainer-opaque {
  display: flex;
  flex-direction: column;
  width: 560px;
  overflow: scroll;
  background-color: #F1F1EF;
  transition: background-color 1s; 

}

.homeMenuContainer-trans {
  position: sticky;
  top:0;
  margin-top: 300px;
  margin-bottom: 400px;
}

.homeMenuContainer-opaque {
  position: sticky;
  top:0;
  margin-top: 300px;
  margin-bottom: 400px;
  background-color: #F1F1EF;
}
.moveUp {
  background-color: aquamarine;
  margin-bottom: 1500px;
}

.homeMenuOptionsContainer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ed5f5f;
  font-size: 25px;
}

.homeBodyContent {
  /* border: 1px solid lime; */
  width: 600px;
  height: 1900px;
}

.homeMenuOption {
  cursor: pointer;
  font-family: 'Akira';
}

.homeSections{
  font-family: 'Courier';
  margin-bottom: 10px;
}

hr {
  width: 75%;
}